body {
	margin: 0;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
	grid-template-rows: 81px 19fr;
	background: 
	linear-gradient(135deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 17%,rgba(27, 27, 27, 0.05) 17%, rgba(27, 27, 27, 0.05) 34%,rgba(31, 31, 31, 0.05) 34%, rgba(31, 31, 31, 0.05) 93%,rgba(242, 242, 242, 0.05) 93%, rgba(242, 242, 242, 0.05) 100%),linear-gradient(135deg, rgba(129, 129, 129, 0.05) 0%, rgba(129, 129, 129, 0.05) 66%,rgba(117, 117, 117, 0.05) 66%, rgba(117, 117, 117, 0.05) 91%,rgba(199, 199, 199, 0.05) 91%, rgba(199, 199, 199, 0.05) 100%),linear-gradient(135deg, rgba(31, 31, 31, 0.07) 0%, rgba(31, 31, 31, 0.07) 15%,rgba(139, 139, 139, 0.07) 15%, rgba(139, 139, 139, 0.07) 23%,rgba(200, 200, 200, 0.07) 23%, rgba(200, 200, 200, 0.07) 29%,rgba(102, 102, 102, 0.07) 29%, rgba(102, 102, 102, 0.07) 100%),linear-gradient(90deg, rgb(19, 196, 228),rgb(126, 8, 222));
	height: 100vh;
	text-overflow: ellipsis;
}

/* NAVBAR */ 


#logo { 
	float: left; 
	height: 90%;
	margin-left: 15px;
	margin-right: 30px;
	margin-top: 5px;
}

#nav {
	background-color: #031f2c;
	width:100%;
	height: 80px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);	
	position: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	grid-column-start:  1;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 1;
}


#center {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
	text-align: center;
	border-style: solid;
	border-width: 0px 5px;
	border-color: #031f2c;
	padding-top: 10px;
	width: 100%;
	padding-bottom: 40px;
}

#footer {
	position: fixed;
	bottom: 0px;
	background-color: #031f2c;
	color: white;
	width: 100%;
	padding: 3px;
	text-align: center;
	font-size: 110%;
}

h1 {
	font-family: monospace;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #031f2c;
}

li.nav {
	float: left;
}

li a.nav {
	display: block;
	color: white;
	font-size: 150%;
	font-family: 'Baloo', cursive;
	text-align: center;
	padding: 12px 20px;
	padding-top: 20px;
	border: hidden;
	border-color: black;
	text-decoration: none;
}


.login {
	display: block;
	color: white;
	font-size: 110%;
	font-family: 'Baloo', cursive;
	text-align: center;
	padding: 0px 20px;
	padding-top: 10px;
	border: hidden;
	border-color: black;
	text-decoration: none;
	float: right;
}

a.login {
	padding-top: 0;
}

li a:hover:not(.active).nav {
	background-color: #284c66;
}

.active {
	background-color: #284c66;
}

/* END OF NAVBAR */

table {
	position: center;
	width: 100%;
	border-collapse: collapse;
	font-family: 'Blinker', sans-serif;
	font-size: 120%;
	text-align: left;
}

th {
	background-color: #031f2c;
	color: white;
}
tr {
	background-color: #ededed;
	border-width: 2px 0px;
	border-style: solid;
	border-color: #031f2c;
}

.none {
	display: none;
}

tr:nth-child(even) {
	background-color: #cfdbe0;
}

footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	left: 0px;
	width: 100%;
	height: 45px;
	background-color: blue;
	color: white;
	font-family: 'Francois One', sans-serif;
}

.bold {
	font-weight: bold;
}

.red {
	color: red;
}

.green {
	color: green;
}

p {
	position: center;
}

.font {
	font-size: 150%;
	font-family: 'Blinker', sans-serif;
}

.font-only {
	font-family: 'Blinker', sans-serif;
}

#green-bg {
	background-color: #4ecc4c;
}

#red-bg {
	background-color: #c43131;
}

.succes {
	border: 2px solid #539e49;
	border-radius: 5px;
	background-color: #92be8d;
	padding: 10px;
	width: 270px;
	font-size: 140%;
	margin: auto;
}

.font150 {
	font-size: 150%;
}
